In [1]:
import re
import pandas as pd
"""
`\d`                         Any numeric digit from `0` to `9`.
`\D`                         Matches any character which is not a decimal digit.
                           This is the opposite of `\d`.
`\w`                         Any letter, numeric digit, or the underscore
                           character.  (Think of this as matching
                           "word" characters.)
`\W`                         Any character that is not a letter,
                           numeric digit, or the underscore character.
`\s`                         Any space, tab, or newline character.  (
                           Think of this as matching white-space
                           characters.)
`\S`                         Any character that is not a space, tab,
                           or newline.
"""

'\n`\\d`                         Any numeric digit from `0` to `9`.\n`\\D`                         Matches any character which is not a decimal digit.\n                           This is the opposite of `\\d`.\n`\\w`                         Any letter, numeric digit, or the underscore\n                           character.  (Think of this as matching\n                           "word" characters.)\n`\\W`                         Any character that is not a letter,\n                           numeric digit, or the underscore character.\n`\\s`                         Any space, tab, or newline character.  (\n                           Think of this as matching white-space\n                           characters.)\n`\\S`                         Any character that is not a space, tab,\n                           or newline.\n'

# \d decimal sayılar

In [2]:
text="A23B"

In [3]:
num=re.search("\d\d",text)  # \d\d 2 tane dijt getir.
num

In [4]:
print(num.group()) # grupları getirir.

23

# \D non decimal

In [5]:
nondeci=re.search("\D",text)
nondeci             # ilk değeri getirdi

In [6]:
nondeci=re.search("\D",text)
nondeci             # ilk değeri getirdi

In [7]:
text1="4pm"

In [8]:
nondeci=re.search("\D",text1)
nondeci             # ilk değeri getirdi

In [9]:
nondeci=re.search("\D\D",text1)
nondeci             # ilk değeri getirdi

In [10]:
text="My phone number is 5055552356"

In [11]:
num1=re.search(10*"\d", text)
num1

In [12]:
output=re.search("(\d\d\d)(\d\d\d)(\d\d\d\d)", text)
print(output.group(3))             # son grubu aldık 3. grubu  gruplar 1.den başlar

2356

In [13]:
value="O 1, t 10, o 100. 100000"

In [14]:
output=re.findall("\d{1,3}",value)  # 1 basamaklıları al 3 basamaklıları ada al

output=re.findall("\d{1,3}",value)
output

['1', '10', '100', '100', '000']

In [15]:
output=re.findall("\d{1,10}",value)  # 1 basamaklıları al 3 basamaklıları ada al
output

['1', '10', '100', '100000']

In [16]:
phone = "2004-959-559 # This is Phone Number"

In [17]:
output=re.sub("\D","",phone)  # subtrac çıkar  çıkar yerine ne koyam 
output

'2004959559'

In [18]:
output=re.sub("\D",".",phone)  # subtrac çıkar  çıkar yerine ----.---- koy 
output

'2004.959.559.......................'

In [19]:
s= pd.Series(["a3","b44","c5"])
s

0     a3
1    b44
2     c5
dtype: object

In [20]:
s.str.extract("(\d)")   # exract tek tek regex match olanları arar

   0
0  3
1  4
2  5

In [21]:
s.str.extract("(\d\d)")    # eşeleşen yoksa nan olur

     0
0  NaN
1   44
2  NaN

In [22]:
s1= pd.Series(["a3","b433214","c53225201"])
s1

0           a3
1      b433214
2    c53225201
dtype: object

In [23]:
s1.str.extract("(\d{1,10})")    # 1 al 10 a kadar al

          0
0         3
1    433214
2  53225201

In [24]:
t= pd.Series(["a3aa","b4aa","c53aa"])   # aralardakini istiyorum
t

0     a3aa
1     b4aa
2    c53aa
dtype: object

In [25]:
t.str.extract("(\w)(\d\w)(\w)")  # w herhangi bir harfi temsil eder

   0   1  2
0  a  3a  a
1  b  4a  a
2  c  53  a

In [26]:
t.str.extract("(\w)\d(\w)(\w)")  # w herhangi bir harfi temsil eder

   0  1  2
0  a  a  a
1  b  a  a
2  c  3  a

In [27]:
t.str.extract("(\w)\d(\w\w)")  # w grup yaptık tekli 2 li

   0   1
0  a  aa
1  b  aa
2  c  3a

In [28]:
s= pd.Series(['40 l/100 km (comb)', 
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])

In [29]:
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [30]:
s1=s.str.extract("(\d\d|\d.\d|\d).+(\d\d\d)")  # iki basamaklıları getir 2 basamkalıyı sağlayan koştu
s1                               # sonra or  \d.\d floatları da al sonra tek varsa

      0    1
0    40  100
1    38  100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16    0  100
17  7.8  100