In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_json("stage1.json")

In [3]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Type', 'Next Inspection', 'Inspection new',
       'Warranty', 'Make', 'Model', 'First Registration', 'Body Color',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Gearing Type',
       'Displacement', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version'],
      dtype='object')

In [4]:
df.head()

,make_model,body_type,price,vat,km,registration,prev_owner,hp,Type,Next Inspection,Inspection new,Warranty,Make,Model,First Registration,Body Color,Upholstery,Body,Nr. of Doors,Nr. of Seats,Gearing Type,Displacement,Weight,Drive chain,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,Emission Label,Gears,Country version
0,Audi A1,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,66 kW,"[, Used, , Diesel (Particulate Filter)]","[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]",,\nAudi\n,"[\n, A1, \n]","[\n, 2016, \n]","[\n, Black, \n]","[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],"[\n, Automatic, \n]","[\n1,422 cc\n]","[\n1,220 kg\n]",[\nfront\n],"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...",None,None,None
1,Audi A1,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,141 kW,"[, Used, , Gasoline]",None,None,None,\nAudi\n,"[\n, A1, \n]","[\n, 2017, \n]","[\n, Red, \n]","[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],"[\n, Automatic, \n]","[\n1,798 cc\n]","[\n1,255 kg\n]",[\nfront\n],"[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\n4 (Green)\n],[\n7\n],None
2,Audi A1,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,85 kW,"[, Used, , Diesel (Particulate Filter)]",None,None,,\nAudi\n,"[\n, A1, \n]","[\n, 2016, \n]","[\n, Black, \n]","[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],"[\n, Automatic, \n]","[\n1,598 cc\n]",None,[\nfront\n],"[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running light...",[\n4 (Green)\n],None,None
3,Audi A1,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,66 kW,"[, Used, , Diesel (Particulate Filter)]",None,None,None,\nAudi\n,"[\n, A1, \n]","[\n, 2016, \n]","[\n, Brown, \n]",None,"[\n, Sedans, \n]",[\n3\n],[\n4\n],"[\n, Automatic, \n]","[\n1,422 cc\n]","[\n1,195 kg\n]",None,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, E...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with rem...",None,[\n6\n],None
4,Audi A1,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,66 kW,"[, Used, , Diesel (Particulate Filter)]",None,"[\nYes\n, \n109 g CO2/km (comb)\n]",,\nAudi\n,"[\n, A1, \n]","[\n, 2016, \n]","[\n, Black, \n]","[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",None,[\nfront\n],"[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package, Sport suspension...","[ABS, Central door lock, Driver-side airbag, E...",None,None,[\nGermany\n]

### Öncelikle Dublicate satırları düşüyoruz.

In [5]:
df.shape

(15919, 34)

In [6]:
df.shape

(15919, 34)

### make_model 
**Bu sütunda yer alan veriler üzerinde herhangi bir cleaning işlemi yapmaya gerek yok.**

In [7]:
df.make_model.sample(5)

11966    Opel Insignia
2827           Audi A3
8298        Opel Corsa
816            Audi A1
319            Audi A1
Name: make_model, dtype: object

In [8]:
df.make_model.isnull().sum()

0

### body_type
**bu sütun üzerinde data cleaning işlemi yapmaya gerek yok.

In [9]:
df.body_type.isnull().sum()

60

In [10]:
df.body_type.value_counts()

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [11]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Type', 'Next Inspection', 'Inspection new',
       'Warranty', 'Make', 'Model', 'First Registration', 'Body Color',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Gearing Type',
       'Displacement', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version'],
      dtype='object')

### price

**Bu sütunda integer değerler var ve veri tipi de integer. Null değerler yok fakat outlier değerler var.**

In [12]:
df.price.dtype

dtype('int64')

In [13]:
df.price.isnull().sum()

0

In [14]:
min_price,max_price = min(df.price), max(df.price)

In [15]:
[min_price,max_price]

[13, 74600]

**Outlier değerler var bunlar ile daha sonra ilgileneceğiz. Outlier değerleri tespit edip bunlar ile ilgili 
karar vereceğiz.**

### vat 
**bu sütunda yer alan değerler için web sitesini incelediğimiz zaman 2 farklı seçenek vardı.
bunlardan null olanları false diğerlerini True yaptık.**

In [16]:
df.vat.sample(5)

3115               None
1667     VAT deductible
10697    VAT deductible
9683     VAT deductible
2107     VAT deductible
Name: vat, dtype: object

In [17]:
df.vat.unique()

array(['VAT deductible', 'Price negotiable', None], dtype=object)

In [18]:
df.vat.value_counts()

VAT deductible      10980
Price negotiable      426
Name: vat, dtype: int64

In [19]:
df.vat.isnull().sum()

4513

In [20]:
df.vat = df.vat.map(lambda x: False if type(x) == float else True)

In [21]:
df.vat.value_counts()

True    15919
Name: vat, dtype: int64

In [22]:
np.nan == np.nan  # np.nan özel bir değer. kendisine bile eşit değil.

False

In [23]:
type(np.nan)  # değer tipi olarak float döndürür.

float

### km 
**sütunu string veri tipinde. Bu sütunu temizleyip integer veri tipine çevirmeliyiz.**

In [24]:
df.km

0        56,013 km
1        80,000 km
2        83,450 km
3        73,000 km
4        16,200 km
           ...
15914         - km
15915     9,900 km
15916        15 km
15917        10 km
15918         - km
Name: km, Length: 15919, dtype: object

In [25]:
df.km = df.km.str.replace(',','').str.strip(' km').replace('-', np.nan).astype(float)

**km sütunu içinde yer alan non-integer ifadeler temizlendi. Yerlerine nan değerler atandı. Nan değerlerin yerine**
**diğer sütunlar incelendikten sonra ortalama bir km değeri atamayı planlıyoruz. Şimdilik işlem yapılmadı.**

In [26]:
df.km.isnull().sum()

1024

In [115]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Warranty', 'Make', 'Model', 'Body Color',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Gearing Type',
       'Displacement', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version', 'Vehicle condition',
       'particul_filter'],
      dtype='object')

In [116]:
df[df.km.isnull()]['registration'].value_counts()

2019-02-01    32
2019-06-01    26
2019-04-01    25
2019-03-01    23
2019-05-01    22
2019-01-01    17
2018-06-01     6
2018-08-01     6
2018-12-01     6
2018-07-01     5
2018-02-01     4
2018-05-01     3
2018-10-01     2
2018-04-01     2
2019-07-01     2
2018-03-01     1
2017-12-01     1
2018-11-01     1
2018-09-01     1
2018-01-01     1
Name: registration, dtype: int64

### registration Sütunu

**Veri tipini datetime tipine çevirmeliyiz. Çünkü tarih verisi içeriyor.**

In [28]:
df.registration.head()

0    01/2016
1    03/2017
2    02/2016
3    08/2016
4    05/2016
Name: registration, dtype: object

In [29]:
df.registration.isnull().sum()

0

In [30]:
df.registration = df.registration.replace('-/-', np.nan)

In [118]:
df.registration = pd.to_datetime(df.registration)
df.registration

0       2016-01-01
1       2017-03-01
2       2016-02-01
3       2016-08-01
4       2016-05-01
           ...
15914          NaT
15915   2019-01-01
15916   2019-03-01
15917   2019-06-01
15918   2019-01-01
Name: registration, Length: 15919, dtype: datetime64[ns]

df["First Registration"].isnull().sum()

In [120]:
df.registration.isnull().sum()

1597

In [34]:
df[['First Registration','registration']].sample(5)
# first registration sütunun  ile registration sütunu benzer değerleri içerdiği için
# first registration sütunu drop edilebilir

      First Registration registration
11306     [\n, 2017, \n]   2017-11-01
11178     [\n, 2016, \n]   2016-04-01
14540     [\n, 2018, \n]   2018-10-01
6779      [\n, 2017, \n]   2017-11-01
1049      [\n, 2018, \n]   2018-05-01

In [35]:
df.drop('First Registration',axis=1,inplace=True)

###  registration sütununda yer alan nan değerler için daha sonra tekrar bakılacak.

### 'prev_owner' sütunu
**arabanın kaçıncı el olduğu bilgisi yer alıyor. Bu sütunun daha anlamlı hale gelmesi için integer'a çevirilebilir.**

In [36]:
df.prev_owner.head()

0    2 previous owners
1                 None
2     1 previous owner
3     1 previous owner
4     1 previous owner
Name: prev_owner, dtype: object

In [37]:
df.prev_owner.unique()

array(['2 previous owners', None, '1 previous owner', '3 previous owners',
       '4 previous owners'], dtype=object)

In [38]:
df.prev_owner.isnull().sum()

6828

In [39]:
df.prev_owner = df.prev_owner.str.strip('previous owners').astype(float)

In [40]:
# df.prev_owner.map(lambda x: x.split()[0],na_action='ignore').astype(float)

### hp sütunu
** bu sütunu integer ya da float a çevirebiliriz.**

In [121]:
df.hp.value_counts()

85.0     2542
66.0     2122
81.0     1402
100.0    1308
110.0    1112
         ...
132.0       1
44.0        1
9.0         1
84.0        1
163.0       1
Name: hp, Length: 80, dtype: int64

In [42]:
df.hp

0         66 kW
1        141 kW
2         85 kW
3         66 kW
4         66 kW
          ...
15914    147 kW
15915    165 kW
15916    146 kW
15917    147 kW
15918    165 kW
Name: hp, Length: 15919, dtype: object

In [43]:
df.hp = df.hp.str.strip(" kW").replace("-",np.nan).astype(float)

In [44]:
df.hp.isnull().sum()

88

### Type sütunu

In [45]:
df.Type

0                  [, Used, , Diesel (Particulate Filter)]
1                                     [, Used, , Gasoline]
2                  [, Used, , Diesel (Particulate Filter)]
3                  [, Used, , Diesel (Particulate Filter)]
4                  [, Used, , Diesel (Particulate Filter)]
                               ...
15914               [, New, , Diesel (Particulate Filter)]
15915    [, Used, , Super 95 / Super Plus 98 (Particula...
15916                         [, Pre-registered, , Diesel]
15917                         [, Pre-registered, , Diesel]
15918                        [, Demonstration, , Super 95]
Name: Type, Length: 15919, dtype: object

In [46]:
df.Type.head()[0]

['', 'Used', '', 'Diesel (Particulate Filter)']

In [47]:
df.Type[1]

['', 'Used', '', 'Gasoline']

In [48]:
df['Inspection new'][0]

['\nYes\n', '\nEuro 6\n']

In [49]:
df.Type.map(lambda x: x[1],na_action='ignore').sample(5)

3919               Used
12609    Pre-registered
243                Used
362                Used
12465     Demonstration
Name: Type, dtype: object

In [50]:
df["Vehicle condition"] = df.Type.map(lambda x: x[1],na_action='ignore')

In [51]:
df.Type.map(lambda x: x[3],na_action='ignore').str.contains("Particulate Filter").sum()
# particulate filter içeren satır sayısı

4819

In [52]:
df.Type.map(lambda x: x[3], na_action='ignore').str.extract("\(([^)]+)").fillna(False)
# particule filter için regex denemesi () parantez içinde yer yazan 'particulate filter' string ifadeyi almak için
# içinde particulate filter yazmayan nan değerlere False atadık

                        0
0      Particulate Filter
1                   False
2      Particulate Filter
3      Particulate Filter
4      Particulate Filter
...                   ...
15914  Particulate Filter
15915  Particulate Filter
15916               False
15917               False
15918               False

[15919 rows x 1 columns]

In [53]:
df["particul_filter"] = df.Type.map(lambda x: x[3], na_action='ignore').str.extract("\(([^)]+)").fillna(False)
# particule filter için regex denemesi () parantez içinde yer yazan 'particulate filter' string ifadeyi almak için
# içinde particulate filter yazmayan nan değerlere False atadık

In [54]:
df["particul_filter"]

0        Particulate Filter
1                     False
2        Particulate Filter
3        Particulate Filter
4        Particulate Filter
                ...
15914    Particulate Filter
15915    Particulate Filter
15916                 False
15917                 False
15918                 False
Name: particul_filter, Length: 15919, dtype: object

In [55]:
df["particul_filter"].map(lambda x: True if x  else False)

0         True
1        False
2         True
3         True
4         True
         ...
15914     True
15915     True
15916    False
15917    False
15918    False
Name: particul_filter, Length: 15919, dtype: bool

In [56]:
df["particul_filter"]

0        Particulate Filter
1                     False
2        Particulate Filter
3        Particulate Filter
4        Particulate Filter
                ...
15914    Particulate Filter
15915    Particulate Filter
15916                 False
15917                 False
15918                 False
Name: particul_filter, Length: 15919, dtype: object

In [57]:
df.Type.map(lambda x: x[3],na_action='ignore').str.extract("([^(]+)")
# ( karakterinden önceki her şeyi al 
# bu sayede araçların yakıt tiplerini çekmiş olacağız.

                               0
0                        Diesel
1                       Gasoline
2                        Diesel
3                        Diesel
4                        Diesel
...                          ...
15914                    Diesel
15915  Super 95 / Super Plus 98
15916                     Diesel
15917                     Diesel
15918                   Super 95

[15919 rows x 1 columns]

In [58]:
df["Fuel Type"]

KeyError: 'Fuel Type'

In [61]:
df.drop('Type',inplace=True,axis=1)

In [62]:
df.prev_owner

0        2.0
1        NaN
2        1.0
3        1.0
4        1.0
        ...
15914    NaN
15915    1.0
15916    1.0
15917    NaN
15918    1.0
Name: prev_owner, Length: 15919, dtype: float64

In [63]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Next Inspection', 'Inspection new', 'Warranty',
       'Make', 'Model', 'Body Color', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Gearing Type', 'Displacement', 'Weight', 'Drive chain',
       'Consumption', 'CO2 Emission', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'Emission Label', 'Gears', 'Country version',
       'Vehicle condition', 'particul_filter'],
      dtype='object')

In [64]:
df['Next Inspection'].isnull().sum()

12384

In [65]:
df.drop("Next Inspection",inplace=True,axis=1)

In [66]:
df['Inspection new']

0                     [\nYes\n, \nEuro 6\n]
1                                      None
2                                      None
3                                      None
4        [\nYes\n, \n109 g CO2/km (comb)\n]
                        ...
15914                                  None
15915                                  None
15916           [\nYes\n, \nEuro 6d-TEMP\n]
15917                                  None
15918    [\nYes\n, \n153 g CO2/km (comb)\n]
Name: Inspection new, Length: 15919, dtype: object

In [67]:
df['Inspection new'].isnull().sum()

11987

In [68]:
df.drop("Inspection new",inplace=True,axis=1)

In [69]:
df['Warranty'].isnull().sum()

5420

In [70]:
df['Warranty'].value_counts()

      7703
12    1417
24     552
60     382
36     223
6       49
72      44
48      40
3       14
23      10
18       7
20       7
25       5
50       4
2        4
16       4
34       3
1        2
11       2
26       2
13       2
17       2
46       2
45       2
21       2
14       2
22       2
15       1
28       1
49       1
56       1
47       1
40       1
19       1
7        1
65       1
33       1
10       1
Name: Warranty, dtype: int64

In [71]:
df['Warranty'].nunique()

38

In [72]:
df['Warranty'].unique()

array(['', None, '12', '6', '50', '36', '20', '24', '3', '23', '60', '48',
       '13', '26', '46', '47', '49', '56', '16', '22', '28', '10', '18',
       '19', '25', '11', '72', '1', '2', '7', '15', '17', '45', '14',
       '65', '21', '34', '33', '40'], dtype=object)

In [73]:
df['Make'].str.strip("\n")

0           Audi
1           Audi
2           Audi
3           Audi
4           Audi
          ...
15914    Renault
15915    Renault
15916    Renault
15917    Renault
15918    Renault
Name: Make, Length: 15919, dtype: object

In [74]:
df['Make']=df['Make'].str.strip("\n")

In [75]:
df['Model']=df['Model'].str.strip("\n")

In [76]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Warranty', 'Make', 'Model', 'Body Color',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Gearing Type',
       'Displacement', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version', 'Vehicle condition',
       'particul_filter'],
      dtype='object')

In [77]:
df['Body Color'].map(lambda x : x[1], na_action="ignore")

0        Black
1          Red
2        Black
3        Brown
4        Black
         ...
15914     Grey
15915     Grey
15916    White
15917     Grey
15918     Grey
Name: Body Color, Length: 15919, dtype: object

In [78]:
df['Body Color']=df['Body Color'].map(lambda x : x[1], na_action="ignore")

In [79]:
df['Upholstery']

0               [\nCloth, Black\n]
1                [\nCloth, Grey\n]
2               [\nCloth, Black\n]
3                             None
4               [\nCloth, Black\n]
                   ...
15914                         None
15915                  [\nCloth\n]
15916    [\nFull leather, Black\n]
15917           [\nPart leather\n]
15918    [\nFull leather, Brown\n]
Name: Upholstery, Length: 15919, dtype: object

In [80]:
df['Upholstery'].unique

<bound method Series.unique of 0               [\nCloth, Black\n]
1                [\nCloth, Grey\n]
2               [\nCloth, Black\n]
3                             None
4               [\nCloth, Black\n]
                   ...
15914                         None
15915                  [\nCloth\n]
15916    [\nFull leather, Black\n]
15917           [\nPart leather\n]
15918    [\nFull leather, Brown\n]
Name: Upholstery, Length: 15919, dtype: object>

In [81]:
df['Upholstery']=df['Upholstery'].map(lambda x : x[0].strip("\n").split(",")[0], na_action="ignore")

In [124]:
df['Upholstery'][5]

'Part leather'

In [83]:
df["Body"]=df["Body"].map(lambda x : x[1],na_action="ignore")

In [84]:
df['Nr. of Doors'].map(lambda x : x[0].strip("\n"),na_action="ignore")

0        5
1        3
2        4
3        3
4        5
        ..
15914    5
15915    5
15916    5
15917    5
15918    5
Name: Nr. of Doors, Length: 15919, dtype: object

In [85]:
df['Nr. of Doors']=df['Nr. of Doors'].map(lambda x : x[0].strip("\n"),na_action="ignore")

In [129]:
df['Nr. of Doors']=df['Nr. of Doors'].astype(int,errors="ignore")
df['Nr. of Doors']

0        5
1        3
2        4
3        3
4        5
        ..
15914    5
15915    5
15916    5
15917    5
15918    5
Name: Nr. of Doors, Length: 15919, dtype: object

In [87]:
df['Gearing Type'].map(lambda x: x)

0        [\n, Automatic, \n]
1        [\n, Automatic, \n]
2        [\n, Automatic, \n]
3        [\n, Automatic, \n]
4        [\n, Automatic, \n]
                ...
15914    [\n, Automatic, \n]
15915    [\n, Automatic, \n]
15916    [\n, Automatic, \n]
15917    [\n, Automatic, \n]
15918    [\n, Automatic, \n]
Name: Gearing Type, Length: 15919, dtype: object

In [88]:
df['Gearing Type'].map(lambda x: x[1])

0        Automatic
1        Automatic
2        Automatic
3        Automatic
4        Automatic
           ...
15914    Automatic
15915    Automatic
15916    Automatic
15917    Automatic
15918    Automatic
Name: Gearing Type, Length: 15919, dtype: object

In [89]:
df['Gearing Type']=df['Gearing Type'].map(lambda x: x)

In [90]:
df['Gearing Type'].isnull().sum()

0

In [91]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Warranty', 'Make', 'Model', 'Body Color',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Gearing Type',
       'Displacement', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version', 'Vehicle condition',
       'particul_filter'],
      dtype='object')

In [92]:
df.Displacement.map(lambda x :x[0].strip("\n1,").strip("\n").strip(" cc"),na_action="ignore")

IndexError: string index out of range

In [130]:
df.Displacement=df.Displacement.map(lambda x :x[0].strip("\n1,").strip("\n").strip(" cc"),na_action="ignore")

IndexError: string index out of range

In [94]:
#df.Displacement=df.Displacement.astype(float)

In [131]:
df.Displacement.unique()

array(['422', '798', '598', '999', '395', '929', None, '596', '600',
       '000', '984', '498', '97', '995', '998', '968', '400', '2,000',
       '568', '896', '2,480', '499', '495', '398', '584', '997', '399',
       '364', '490', '996', '696', '686', '396', '5,898', '39', '368',
       '40', '397', '248', '229', '300', '200', '973', '239', '350',
       '369', '390', '22', '98', '95', '956', '2', '2,967', '856',
       '6,000', '500', '496', '533', '', '599', '461', '618', '49', '99',
       '898', '890', '900', '54', '00', '333', '899', '589', '580', '60',
       '800'], dtype=object)

In [132]:
df['Displacement'].str.replace(",","").replace("''",None).unique()

array(['422', '798', '598', '999', '395', '929', None, '596', '600',
       '000', '984', '498', '97', '995', '998', '968', '400', '2000',
       '568', '896', '2480', '499', '495', '398', '584', '997', '399',
       '364', '490', '996', '696', '686', '396', '5898', '39', '368',
       '40', '397', '248', '229', '300', '200', '973', '239', '350',
       '369', '390', '22', '98', '95', '956', '2', '2967', '856', '6000',
       '500', '496', '533', '', '599', '461', '618', '49', '99', '898',
       '890', '900', '54', '00', '333', '899', '589', '580', '60', '800'],
      dtype=object)

In [134]:
df['Displacement'].value_counts()

598    4761
999    2438
398    1314
399     749
229     677
       ...
54        1
369       1
800       1
98        1
496       1
Name: Displacement, Length: 74, dtype: int64

In [142]:
df['Displacement'].unique()

array(['422', '798', '598', '999', '395', '929', None, '596', '600',
       '000', '984', '498', '97', '995', '998', '968', '400', '2,000',
       '568', '896', '2,480', '499', '495', '398', '584', '997', '399',
       '364', '490', '996', '696', '686', '396', '5,898', '39', '368',
       '40', '397', '248', '229', '300', '200', '973', '239', '350',
       '369', '390', '22', '98', '95', '956', '2', '2,967', '856',
       '6,000', '500', '496', '533', '', '599', '461', '618', '49', '99',
       '898', '890', '900', '54', '00', '333', '899', '589', '580', '60',
       '800'], dtype=object)

In [141]:
df['Displacement'].str.replace("''","")

0        422
1        798
2        598
3        422
4        422
        ...
15914    997
15915    798
15916    997
15917    997
15918    798
Name: Displacement, Length: 15919, dtype: object

In [143]:
df["Weight"]

0        [\n1,220 kg\n]
1        [\n1,255 kg\n]
2                  None
3        [\n1,195 kg\n]
4                  None
              ...
15914    [\n1,758 kg\n]
15915    [\n1,708 kg\n]
15916              None
15917    [\n1,758 kg\n]
15918    [\n1,685 kg\n]
Name: Weight, Length: 15919, dtype: object